/* Fonts */

@font-face {
    font-family: "Bellerose";
    src: url(font/Bellerose.ttf);
}

/* CSS */
#map-canvas {
        margin: 0;
        padding: 0;
        height: 400px;
		width:400px;;
      }
body {
	color: #262728;
	background-color: #f8f8f6;
	line-height: 1.4;
}

header {
	background-color: #21abe9;
	height: 400px;
	width: 100%;
	text-align: center;
}

nav {
	height: 60px;
	background-color: #262728;
}

nav ul {
	width: 960px;
	margin: 0 auto;
}

nav li {
	float: left;
	width: 25%;
	text-align: center;
	list-style-type: none;
	padding-top: 5px;
}

nav li a {
	font-family: Bellerose;
	text-decoration: none;
	color: #ffffff;
	font-size: 16pt;
	font-weight: 400;
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	transition: all 0.5s linear;
}

nav li a:hover {
	color: #21abe9;
}

.rightAlign {
	width: 50px;
	float: right;
	margin-top: 22px;
}

header #logo {
	position: relative;
	width: 512px;
	height: 160px;
	margin: 90px auto;
}

section {
	width: 960px;
	margin: 0 auto;
	padding-bottom:50px;
}

h1 {
	font-family: Bellerose;
}

.main {
	min-height: 700px;
}

.main fieldset {
	width: 960px;
	padding: 10px;
	margin: 50px auto;
}

.main input {
	margin: 10px;
	width: 270px;
}

.main .button {
	width: 125px;
}

.leftCol {
	float: left;
	margin: 0px 10px;
	width: 540px;
}

.rightCol {
	float: left;
	margin: 0px 10px;
	width: 380px;
}

.leftCol li {
	height: 50px;
	width: 100%;
	list-style-type: none;
}

.clear {
	clear: both;
}
.pagination{
margin:auto;
width:200px;
}

.pagination li{
float:left;
list-style-type:none;
}

.pagination a{
padding: 0 2px 0 2px;
}

.personeel{
float:left;
padding-right:20px;
}
.pasfoto{
padding-top:20px;
width:150px;
height:150px;
}
.affiche{
	margin: auto;
	width:340px;
}

.affiche img{
	width: 340px;
	height:520px;
}

.album{
float:left;
padding:0 20px 0 20px;
}

.albumAfbeelding{
width:280px;
height:150px;
}

footer {
	width: 100%;
	background-color: #262728;
}


footer nav {
	width: 960px;
	margin: 0 auto;
	min-height: 250px;
}

footer .colNav {
	width: 300px;
	margin: 10px;
	color: #b0b0b0;
	float: left;
	font-size: 14px;
}

footer .colNav h1{
	font-variant:small-caps;
	font-weight: bolder;
	font-size: 21px;
	color: #ffffff;
}

footer .colNav #footlogo {
	margin-top: 60px;
	max-width: 250px;
}

footer .colNav a {
	color: #21abe9;
	text-decoration: none;
}

footer .colNav p {
	margin: 0;
}

footer .colNav span {
	padding-top: -20px;
}